Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Bloquear acceso directo a carpetas sensibles y dotfiles
    RewriteRule ^(framework|project)/ - [F,L]
    RewriteRule (^|/)\. - [F,L]
</IfModule>
